$font-family: 'Lato', sans-serif;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-height: 1366px;
$laptop-l: 1440px;
