$gray-light-color: #aab7d4;
$gray-normal-color: #7b8aab;
$blue-light-color: #68c4ff;
$blue-normal-color: #3d8fec;
$pink-normal-color: #c37add;
$green-normal-color: #7ad744;
$red-normal-color: #f85c5c;

$font-family: 'Lato', sans-serif;

$border-radius-xs: 2px;
$border-radius-s: 7px;
$border-radius-m: 12px;

$font-size-s: 14px;
$font-size-m: 18px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$box-shadow-main: 0 0 2px #eef4fe, 0 1px 2px #d0daeb;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-height: 1366px;
$laptop-l: 1440px;
