:root {
  --pink-normal-color: #{$pink-normal-color};
  --green-normal-color: #{$green-normal-color};
  --red-normal-color: #{$red-normal-color};
  --blue-light-color: #{$blue-light-color};

  --font-size-s: #{$font-size-s};

  --border-radius-s: #{$border-radius-s};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

html,
body {
  position: relative;
  height: 100%;
  font-size: $font-size-m;
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  color: inherit;
}

.bold {
  font-weight: $font-weight-bold;
}
