.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.item {
  display: flex;
  align-items: center;

  &Icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 16px;

    width: 58px;
    height: 58px;

    border-radius: $border-radius-m;

    background-color: var(--color);

    box-shadow: inset 0 0 1px 1px rgba(var(--color), 0.6);

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: $border-radius-m;

      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    }
  }

  &Title {
    font-weight: $font-weight-bold;
    color: var(--color);

    padding-bottom: 4px;
  }

  &Description {
    display: flex;
    align-items: center;
  }
}

.demarcate {
  width: 2px;
  height: 19px;
  margin: 0 4px;

  background-color: black;

  border-radius: $border-radius-xs;
}
